.new-office-banner {
  display: flex;
  height: 200px;
  background-color: #E3C662;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.new-office-banner h1 {
  color: white;
  text-align: center;
}

.form-new-office {
  width: 600px;
  margin: 0 auto;

}

.boolean {
  margin-top: 60px;

}
