.new-office-banner {
  display: flex;
  height: 200px;
  background-color: #E7D28A;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.new-office-banner h2 {
  color: white;
  text-align: center;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: 500;
}

.form-new-office {
  width: 600px;
  margin: 0 auto;

}

.boolean {
  h4 {
    margin-top: 60px;
    margin-bottom: 50px;
    border-top: 1px solid #E3C662;
    padding: 10px,
  }
}

.price {
  margin-top: 25px;
  border-top: 1px solid #E3C662;
  padding: 20px;
}

.form-new-office {
  margin-bottom: 100px;
}

#new_office_space {
  .form-check-input {
    margin-right: 10px;
  }
}
