.search-page {
  display: flex;
  width: 100vw;

  .search-result-container {
    flex: 0 1 1000px;
  }

  #map {
    flex: 1 0 0px;
    height: calc(100vh);
    position: sticky !important;
    top: 0;
  }
}
