.big-box {
  display: flex;
  height: 500px;
  background-color: gray;
}

.photo-container {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100%;
}

.element1 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  background-color: #D3D3D3;
}

.element2 {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  background-color: #DCDCDC;
}

.element3 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  background-color: #A9A9A9;
}

.btn-treehouse {
  text-align: center;
  color: white;
  // border-radius: 5px;
  font-weight: strong;

  background-color: #E3C662;
  padding: 10px 15px;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-review {
  display: block;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
  color: #E7D28A;
  padding: 10px 15px;
  width: 200px;
  padding: 6px 0;
  border: 2px solid #E7D28A;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-review:hover {
  opacity: 1;
  background: #E3C662;
  text-decoration: none;
  color: white;
}

#list {
  list-style-type: none;
  align-content: left;
  padding: 0;
}

.cards-container {
  margin-top: 100px;
}

.add-review-form {
  padding: 0 100px;
}
