<div style="height: 70px">
</div>
<div class="container">
  <div class="conversation-container">
    <h1>My Messages</h1>
    <hr>
    <% @conversations.each do |conversation| %>
    <div class="message-card">
      <p>
        <b><%= conversation.reservation.office_space.name %></b>
      </p>
      <li>
        Host:
        <%= link_to conversation.reservation.office_space.owner.email, conversation_path(conversation) %>
      </li>
      <li>
        <%= conversation.messages.length %> messages
      </li>
    </div>
    <% end %>
  </div>
  <% if @conversations.first.nil? %>
  <h4>You have no messages</h4>
  <% end %>
</div>
