<div style="height: 70px">
</div>
<div class="container">
  <div class="conversation-container">
    <h1>My Messages</h1>
    <% @conversations.each do |conversation| %>
    <div class="message-card">
      <li>
        Host:
        <%= conversation.reservation.office_space.name %>
      </li>
      <li>
        <%= link_to conversation.reservation.office_space.owner.email, conversation_path(conversation) %>
      </li>
      <li>
        <%= conversation.messages.length %> messages
      </li>
    </div>
    <% end %>
  </div>
</div>
