<body>
  <div class="banner-reservation" style="width:100%; height: 45vh; background-color:#E7D28A; color: white">
    <div style="text-align:center; font-size: 38px">
      <h2>Messaging</h2>
    </div>
  </div>
  <div style="height: 70px">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6">
        <div class="messages-container">
          <div id="messages">
            <% @conversation.messages.each_with_index do |message, index| %>
            <%= render 'messages/show', message: message %>
            <% end %>
          </div>
          <div class="new_message">
          </div>
          <%= render 'messages/form', conversation: @conversation, message: @message  %>
        </div>
      </div>
    </div>
  </div>
</body>
