<div class="banner" style="background-image: url(<%=asset_path 'banner.jpg'%>);">
  <div class="banner-content">
    <h2>Work in cool offices</h2>
    <div style="display: flex, justify-content: center">
      <%= link_to new_office_space_path do %>
      <button type="button" class="btn-treehouse">List your Space</button>
      <% end %>
    </div>
  </div>
</div>
