<div class="banner" style="background-image: url(<%=asset_path 'banner.jpg'%>);">
  <div class="banner-content">
    <h2>The investment that helps</h2>
    <h2>you work more efficiently</h2>
    <a class="btn btn-primary btn-lg">Show all available offices</a>
  </div>
</div>