<h1>My Reservations</h1>my
<p>Find me in app/views/pages/my_reservations.html.erb</p>
<% @reservations.each do |reservation| %>
<li>
  <%= reservation.check_in %>
</li>
<li>
  <%= reservation.check_out %>
</li>
<li>
  <%= reservation.user.email %>
</li>
<% end %>
