<div class="container">
  <div class="col-md-6">
    <br>
    <h1>All My Reservations</h1>
    <br>
    <br>
      <div class="card">
        <figure class="front">
        <% @reservations.each_with_index do |reservation, index| %>
          <% cl_image_tag reservation.office_space.photo, height: 300, width: 400 %>
          <div class="caption">
           <h2><%= index %></h2>
           <p><b>user: </b><%= current_user.email %></p>
           <p><%= reservation.check_in %><span> <b>until</b> <%= reservation.check_out %></span></p>
          </div>
          <% end %>
        </figure>
    </div>
</div>
