<%= render 'shared/navbar' %>
<% @office_spaces.each do |office_space| %>

<li>
  <%= office_space.name %>
</li>
<% end %>
<%= link_to "add new office space", new_office_space_path %>

<p>
  <span id="banner-typed-text"></span>
</p>

