<h1>OfficeSpaces#index</h1>
<p>Find me in app/views/office_spaces/index.html.erb</p>
<% @office_spaces.each do |office_space| %>
<li>
  <%= office_space.name %>
</li>
<% end %>
<%= link_to "add new office space", new_office_space_path %>

<p>
  <span id="banner-typed-text"></span>
</p>

